@import url("./reset.css");
@import url("./cabecalho.css");
@import url("./menu-lateral.css");

*,
*::before,
*::after {
    box-sizing: border-box;
    transition: background-color .2s linear;
}

:root {
    --azul-void: #01080E;
    --azul-primario: #041832;
    --azul-medio: #144480;
    --azul-destaque-light: #0e71eb;
    --azul-destaque-dark: #1a76d8;
    --cinza-escuro: #222222;
    --cinza-medio: #C5C5C5;
    --cinza-claro: #F2F2F2;
    --branco: #FFFFFF;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: var(--branco);
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    font-size: 14px;
    color: var(--cinza-escuro);
    box-sizing: border-box;
    text-align: center;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
