.newsletter {
  padding: 24px 16px;
  margin-bottom: 32px;
  background-color: var(--cinza-claro);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.newsletter__inscreva-se {
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
  color: var(--azul-void);
}

.newsletter__input-e-botao-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.newsletter__input {
  width: 63%;
  max-width: 206px;
  border-radius: 32px 0px 0px 32px;
  padding: 12px 12px 12px 16px;
  background-color: transparent;
  border: 1px solid var(--azul-destaque-light);
  height: 40px;
}

.newsletter__input::placeholder {
  color: var(--cinza-medio);
}

.newsletter__botao-inscrever {
  width: 122px;
  height: 40px;
  padding: 8px 32px;
  border-radius: 0px 32px 32px 0px;
  background-color: var(--azul-destaque-light);
  color: var(--cinza-claro);
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  cursor: pointer;
}

.dialog-confirmacao::backdrop {
  background: rgba(21, 21, 21, 0.8);
}

.dialog-confirmacao {
  padding: 0;
  border: 0;
  border-radius: 16px;
  width: calc(100% - 40px);
  max-width: 656px;
}

.dialog-confirmacao__conteudo {
  padding: 19px;
}

.dialog-confirmacao__texto {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: var(--azul-void);
}

.dialog-confirmacao__fechar-modal {
  padding: 10px 24px;
  border-radius: 40px;
  background: var(--azul-destaque-light);
  color: var(--branco);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}

.modo-escuro .newsletter {
  background-color: var(--azul-primario);
}

.modo-escuro .newsletter__inscreva-se {
  color: var(--cinza-claro);
}

.modo-escuro .newsletter__input {
  border: 1px solid var(--azul-destaque-dark);
}

.modo-escuro .newsletter__input::placeholder {
  color: var(--azul-medio);
}

.modo-escuro .newsletter__botao-inscrever {
  background-color: var(--azul-destaque-dark);
}

.modo-escuro .dialog-confirmacao {
  background-color: var(--azul-primario);
}

.modo-escuro .dialog-confirmacao__texto {
  color: var(--cinza-medio);
}

.modo-escuro .dialog-confirmacao__fechar-modal {
  background-color: var(--azul-destaque-dark);
}

.modo-escuro .botao-categoria {
  background-color: var(--azul-primario);
  color: var(--cinza-medio);
}

@media(min-width: 834px) {
  .newsletter {
    margin-bottom: 40px;
  }

  .newsletter__input {
    max-width: 400px;
  }
}
