.secao-categorias {
  height: 63px;
  font-size: 16px;
  background-color: var(--branco);
  padding: 0 20px;

  position: fixed;
  top: 80px;
  right: 0;
  left: 0;
  overflow-x: scroll;

  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 15px;
}

.secao-categorias__botao {
  display: inline-block;
  font-size: 16px;
  color: var(--cinza-escuro);
  background-color: var(--cinza-claro);
  border-radius: 8px;
  padding: 8px 20px;
  cursor: pointer;
}

.secao-categorias__botao:hover {
  background-color: var(--cinza-medio);
  color: var(--cinza-escuro);
  transition: .5s;
}

.secao-categorias__botao.selecionado {
  background: var(--azul-destaque-light);
  color: var(--branco);
}

@media(min-width: 834px) {
  .secao-categorias {
    border-top: var(--azul-medio) 1px solid;
    border-bottom: var(--azul-medio) 1px solid;
    width: auto;
    left: 82px;
  }
}

@media(min-width: 1440px) {
  .secao-categorias {
    left: 247px;
  }
}