.videos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.video-principal {
  display: block;
  height: 303px;
  width: 280px;
  flex-grow: 1;
}

.video-principal--escondido {
  display: none;
}

.video-principal__info {
  margin-top: 1rem;
  text-align: start;
  column-gap: 1rem;

  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 10px;
}

.video-principal__iframe {
  border-radius: 10px;
  width: 100%;
  height: 62%;
}

.video-principal__link-img-canal {
  grid-area: 1 / 1 / 3 / 2;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.video-principal__titulo-video {
  font-weight: 700;
  font-size: 16px;
}

.video-principal__titulo-canal {
  font-size: 14px;
}